.Prestations {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px 0;
}

.Prestations img {
    width: 300px;
    border-radius: 20px;
    margin-right: 150px;
    cursor: pointer;
}

.Prestations #title {
    font-size: 20px;
    text-align: center;
}

.Reserver-button {
    cursor: pointer;
    border: none;
    font-family: 'Edu AU VIC WA NT Hand', sans-serif;
    border-radius: 20px;
}

.Reserver-button:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background-color: #af6bcc;
}

.Description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    padding-left: 30px;
}

.title-of-prestation {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media (375px <= width <= 667px) {
    .content{
        display: inline;

    }

    .Reserver-button {
        max-width: max-content;

    }

    .Prestations {
        display: block;


    }
    .Prestations img {
        max-width: 200px;
    

    }

    .henne-img {
        padding-left: 80px;
    }

    .Description {
        display: inline-flex;
        justify-content: center;
        gap: 5px;
        padding-top: 20px;

    }


}


