body{
    font-family: 'Edu AU VIC WA NT Hand', sans-serif;

}

header {
    padding: 10px 20px;
    background-color: #E6E6FA;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: static;
}

.head button {
    background-color: #E6E6FA;
    border: none;
}

.head button:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.1);
}

.head .logo {

    max-height: 60px;
    border-radius: 50%;
}

.head ul {
    display: flex;
    gap: 50px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.head a {
    color: black;
    text-decoration: none;
}

.head li:hover {
    transition: 0.3s;
    transform: scale(1.1);
    cursor: pointer;
}


.head .User-Logo {
    max-width: 35px;
    padding: 0 0 0 0;
    
}
/* A dynamiser plus tard avec du JavaScript en ajoutant des AddEventListener onClick 
.head a:visited {
    text-decoration: underline;
}
*/

footer {
    background-color:#E6E6FA;
    padding: 10px 10px 10px 70px;
    display: flex;
    justify-content:flex-start;
    gap: 20px;
}

footer h1{
    font-size: 20px;
    text-align: center;
}
.social-media-div img {
    width: 50px;
    

}

.social-media-div img:hover{
    transition: 0.3s;
    transform: scale(1.1);
    cursor: pointer;
}

@media (375px <= width <= 667px) {
    header{ 
        padding: 5px 0px 0px 0px;

    }
    .head a,li {
        max-width: 20px;
        
    }
    .head ul {
     gap: 36px;
    
    }

    .head .User-Logo {
        max-width: 30px;
    }


}

